<!DOCTYPE html>
<html>
    <meta content="charset"  charset="utf-8">
    <head>
        <link rel="stylesheet" href="styles.css">
<title>just a test</title>

    </head>
<body>
    <div class="main-content">
    {{>header}}
<h1>{{msg}}</h1>
</div>
{{>footer}}
    </html>