<!DOCTYPE html>
<html>
    <meta content="charset"  charset="utf-8">
    <head>
        <link rel="stylesheet" href="styles.css">
<title>just a test</title>

    </head>
<body>
    <div class="main-content"></div>

         <div class="main-content"></div>
          <div class="main-content"></div>
           <div class="main-content"></div>
            <div class="main-content"></div>
             <div class="main-content"></div>
              <div class="main-content"></div>
{{>header}}

<p>changing about page</p>
{{!--     <img class="portrait" src="/img/Screenshot_2021-08-21_20:49:23.png"></div>
 --}}{{>footer}}
    </html>